<!DOCTYPE HTML>
<html>
<head>
	<title>Web Traffic Forecasting </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
</head>
<style>
	#nav ul {
		padding-left: 0; /* Remove default padding */
		list-style: none; /* Remove default bullet points */
	}
	
	#nav ul li {
		display: inline-block; /* Display items horizontally */
		padding: 0 0.8em; /* Maintain the same padding */
	}
	.container {
		text-align: center;
    }
</style>
<body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<div id="header-wrapper">
			<div class="container">
				<!-- Header -->
				<header id="header">
					<div class="inner">
						<!-- Logo -->
						
						<h1><a href="/" id="logo">Web Traffic Forecasting</a></h1>
						
						<!-- Nav -->
					</div>
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="forecast_form.html">Forecast</a></li>
								<li><a href="views.html">Views</a></li>
								<li><a href="single_forecast.html">Single Forecast</a></li>
							</ul>
						</nav>
					
				</header>
				<!-- Banner -->
				
				<div id="banner">
					<h2>WEB TRAFFIC FORECASTING</h2>
					<br>
					<h2>Accurately predict website traffic fluctuations with advanced forecasting model to optimize online performance and engagement.</h2>
					
				</div>

			</div>
		</div>
		
		</div>
	</div>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/jquery.dropotron.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>